<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    
<div class="container">

    <div class="content">
        <h3>Hi, <span>Admin</span></h3>
        <h3>welcome <span></span></h3>
        <p>this is an admin</p>
        <a href="{{ url_for('login')}}" class="btn">login</a>
        <a href="{{ url_for('registration')}}" class="btn">register</a>        
    </div>
        
</div>
</body>
</html>