<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attendant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>
<body>
    <div class="navbar">
        <a href="website.html">Medical Record Systems</a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><button class="loginbtn" onclick="window.location.href='{{url_for('login')}}';" style="width: auto;">login</button></li>
            </ul>
        </nav>
    </div>
    
    <div class="container">
    
        <div class="content">
            <h3>Hi, <span>Record Attendant</span></h3>
            <h3>welcome <span></span></h3>
            <p>this is record attendant page</p>
        </div>
        
        <div class="form-container">
            <form action>
        
                <h2>PATIENT REGISTRATION FORM</h2>

                <div class="patient">
        
                    <label for="date"><i>Date</i></label>
                    <input type="date" , id="date" , name="date">
        
                    <label for="patient_id"><i>Patient_id:</i></label>
                    <input type="text" , name="patient_id" , id="patient_id">
        
                    <label for="Surname"><i>Surname</i></label>
                    <input type="text" , name="surname" , id="surname">
                    <br><br>
                    <label for="first_name">First Name</label>
                    <input type="text" , name="first_name" , id="first_name">
        
                    <label for="last_name">Last Name</label>
                    <input type="text" , name="last_name" , id="last_name">
        
                    <label for="tel">Tel: </label>
                    <input type="text" , name="tel" , id="tel">
                    <br><br>
        
                    <label for="address">Address:</label>
                    <input type="text" , id="address" , name="address">
        
                    <label for="date_of_birth">Date of Birth</label>
                    <input type="date" , name="date_of_birth" , id="date_of_birth">
        
                    <label for="occupation">Occupation</label>
                    <input type="text" , name="occupation" , id="occupation">
                    <br><br>
                    <label for="consultant_allocated">Consultant Allocated:</label>
                    <select name="consultant_allocated">
                        <option value="consultant">Select</option>
                        <option value="consultant">Dr. Gwom</option>
                        <option value="consultant">Dr. Agwom</option>
                        <option value="consultant">Dr. Gung</option>
                        <option value="consultant">Dr. Silas</option>
                    </select>
        
                    <label for="emergency">Emergency?</label>
                    <input type="radio" id="Yes" name="emergency" value="Yes">
                    <label for="emergency">Yes</label><br>
                    <input type="radio" id="No" name="emergency" value="No">
                    <label for="emergency">No</label><br>
            
        
                </div>
                <br><br>
                <h2><i>Info of Relative</i></h2>
                <div class="relative">
                    <br>
                    <label for="rel_name"><i>Relative's Name</i></label>
                    <input type="text" , name="name_of_relative" , id="name_of_relative">
        
                    <label for="contact_address"><i> Contact Address:</i></label>
                    <input type="text" , name="contact_address" , id="contact_address">
        
                    <label for="Tel"><i>Phone_number</i></label>
                    <input type="tel" , name="phone_number" , id="phone_number", placeholder="enter your phone_number">
                    <br>
                    <br>
                    <label for="rel">Relationship:</label>
                    <input type="text" name="relationship" , id="relationship">
        
                    <label for="comment">Comment(s):</label>
                    <textarea name="comments" id="" cols="55" rows="5"></textarea>

                    <div class="button">
                        <input type="submit" value="submit">
                    </div>

        
                </div>
            </form>
        
        
        </div>

    </div>
</body>
</html></div>